.container {
  background-color: #111111;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main {
  background-color: #151515;
  color: white;
  padding: 5 rem 0;
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  font-size: 1.25rem;
}